@import '~antd/dist/antd.css';
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.SubmitButton {
	transition: all 1s ease;
}
.SubmitButton:hover {
	background: linear-gradient(to right, rgb(2, 138, 42) 50%, transparent 0);
	background-size: 200% 100%;
	background-position: right;
	animation: makeItfadeIn 0.3s 0.1s forwards;
}
@keyframes makeItfadeIn {
	100% {
		background-position: left;
	}
}
/* .SubmitButton::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: white;
	transform-origin: left;
	transition: width 0.25s ease;
	z-index: -1;
}
.SubmitButton:hover::after {
	width: 100%;
} */
/* .SubmitButton:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.SubmitButton:hover::after {
	width: 120%;
	background-color: rgba(255, 255, 255, 0);

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
} */
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
